* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /********* common *************/
  .header,
  .sidebar,
  .footer {
    border: 1px solid white;
  }
  .home {
    background-color: black;
  }

  .body::-webkit-scrollbar,.sidebar::-webkit-scrollbar{
    display: none;
  }
  
  .body,.sidebar{
    overflow: overlay;
    height: 100vh;
  }
  /********* header *************/

  .header{
    background-color: #169388;
  }
  
  /********* sidebar *************/
  .sidebar {
    width: 20%;
  }
  .sidebar-logo > img {
    width: 80%;
    margin: 5% 0 5% 10%;
  }
  .sidebar-options{
    color: white;
    margin-left: 15%;
  }
  
  .sidebar-options ul{
    margin-bottom: 7%;
  }
  .sidebar-options_list{
    display: flex;
    align-items: center;
    justify-content: left;
    padding-top : 5%;
    font-size: 100%; 
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.7;
  }
  .sidebar-options_list > a{
    text-decoration: none;
    color: inherit;
  } 
  .sidebar-options_list:hover{
    opacity: 1;
    transition: opacity 400ms;
    cursor: pointer;
  }
  .sidebar-options_listIcon{
    margin-right: 5%;
  }

@media screen and (max-width: 1024px) {
  .sidebar-options_list{
    font-size: 80%;
  }
}

@media screen and (max-width: 767px) {
.sidebar{
  display: none;
}
}
  
  .playlist-title{
    margin-left: 10px;
    padding: 5px;
    font-size: 12px;
  }
  .playlist-border{
    border: 1px solid #282828;
    width: 90%;
    margin: 10px auto;
  }
  /********* body *************/
  .body-wrap {
    display: flex;
    height: 100%;
  }
  .body {
    flex: 1;;
  }
  
  /****** header ******/
  
  /****** main *******/
  .main {
    height: 75vh;
  }
  
  .header{
    height: 50vh;
  }
  
  
  /********* footer *************/
  
  
  